<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze后台管理系统模板HTML 表格页面 - cssmoban</title>
    <meta name="description" content="这是一个 table 页面">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/datetimepicker/bootstrap-datetimepicker.min.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<!--<div class="am-cf admin-main">-->
<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">新闻列表</strong> /
            <small>News</small>
        </div>
    </div>

    <div class="am-g">
        <div class="am-u-md-6 am-cf">
            <div class="am-fl am-cf">
                <div class="am-btn-toolbar am-fl">
                    <div class="am-btn-group am-btn-group-xs">
                        <button type="button" class="am-btn am-btn-default" onclick="addSingle()"><span class="am-icon-trash-o"></span> 新增</button>
                        <button type="button" class="am-btn am-btn-default" onclick="batchDelete()"><span class="am-icon-trash-o"></span> 删除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form class="am-form" id="query-form" action="/back/news-table" method="post">
        <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
                标题：
            </div>
            <div class="am-u-sm-4">
                <input type="text" id="title" name="title" th:value="${queryForm.title}" class="am-input-sm" placeholder="TITLE">
            </div>
            <div class="am-u-sm-2 am-text-left">

            </div>
        </div>
        <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
                发布时间：
            </div>
            <div class="am-u-sm-4" style="display: -webkit-inline-box;padding-left:0px">
                <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="startTime" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" th:value="${#dates.format(queryForm.getStartTime(),'yyyy-MM-dd')}" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="startTime" name="startTime" th:value="${#dates.format(queryForm.getStartTime(),'yyyy-MM-dd')}" />~
                <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="endTime" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" th:value="${#dates.format(queryForm.getEndTime(),'yyyy-MM-dd')}" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="endTime" name="endTime" th:value="${#dates.format(queryForm.getEndTime(),'yyyy-MM-dd')}" />
            </div>
            <div class="am-u-sm-2 am-text-left">

            </div>
        </div>
        <div class="am-g am-margin-top">
            <div class="am-u-sm-10" style="text-align: center">
                <button class="am-btn am-btn-default" type="button" onclick="searchNews()">搜索</button>
                <button class="am-btn am-btn-default" type="button" onclick="resetSearch()">重置条件</button>
            </div>
        </div>
    </form>

    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form">
                <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                    <tr>
                        <th class="table-check"><input type="checkbox" onclick="checkAll(this)"/></th>
                        <th class="table-title">标题</th>
                        <th class="table-date">发布时间</th>
                        <th class="table-set">操作</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    <tr th:each="news : ${datas.getContent()}">
                        <td><input type="checkbox" name="systemid" th:value="${news.systemid}"/></td>
                        <td><span name="name" th:text="${news.title}"></span></td>
                        <td><span name="createdTime" th:text="${news.createdTime}"></span></td>
                        <td>
                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger" onclick="modifySingle(this)"><span
                                    class="am-icon-trash-o"></span> 修改
                            </button>
                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger" onclick="deleteSingle(this)"><span
                                    class="am-icon-trash-o"></span> 删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:include="page :: pager" th:remove="tag"></div>
                <p>注：.....</p>
            </form>
        </div>

    </div>
</div>
<!-- content end -->
<!--</div>-->

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/polyfill/rem.min.js"></script>
<script src="/js/polyfill/respond.min.js"></script>
<script src="/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="/js/app.js"></script>
<script src="/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/news.js"></script>

</body>
</html>
