<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze后台管理系统模板HTML 表格页面 - cssmoban</title>
    <meta name="description" content="这是一个 table 页面">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" th:href="@{/i/favicon.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<!--<div class="am-cf admin-main">-->
<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">产品列表</strong>/
            <div class="am-btn-group am-btn-group-xs">
                <button id="add" type="button" class="am-btn am-btn-default" onclick="addRow()"><span class="am-icon-plus"></span> 新增
                </button>
                <button id="delete" type="button" class="am-btn am-btn-default" onclick="batchDelete()"><span class="am-icon-trash-o"></span> 删除
                </button>
            </div>
        </div>
    </div>
    <div style="float:left" id="query-form">
        <div id="toolbar-btn" class="pull-left" style="padding-bottom:10px; float:left;">
            <select id="cartridgeType">
                <option value="">全部</option>
                <option value="InkCartridge"
                        th:selected="${queryForm.getCartridgeType() == 'InkCartridge'}? 'true':'false'">InkCartridge
                </option>
                <option value="TonerCartridge"
                        th:selected="${queryForm.getCartridgeType() == 'TonerCartridge'}? 'true':'false'">TonerCartridge
                </option>
                <option value="DrumCartridge"
                        th:selected="${queryForm.getCartridgeType() == 'DrumCartridge'}? 'true':'false'">DrumCartridge
                </option>
                <option value="EmptyCartridge"
                        th:selected="${queryForm.getCartridgeType() == 'EmptyCartridge'}? 'true':'false'">EmptyCartridge
                </option>
            </select>
        </div>

        <div class="pull-right" style="padding-bottom:10px; float:left;">
            <input id="pid" name="pid" placeholder='No.' type="text"
                   style="float:left;width:150px;margin-right:5px;height:40px;"
                   class="form-control" th:value="${queryForm.getPid()}">
            <input id="itemId" name="itemId" placeholder='Item ID' type="text"
                   style="float:left;width:150px;margin-right:5px;height:40px;"
                   class="form-control" th:value="${queryForm.getItemId()}">
            <input id="oemCode" name="oemCode" placeholder='OEM Code' type="text"
                   style="float:left;width:150px;margin-right:5px;height:40px;"
                   class="form-control" th:value="${queryForm.getOemCode()}">
            <input id="suitableMachine" name="suitableMachine" placeholder='Suitable Machine' type="text"
                   style="float:left;width:150px;margin-right:5px;height:40px;"
                   class="form-control" th:value="${queryForm.getSuitableMachine()}">
            <div class="btn-group" style="float:left;">
                <button id="btn_search" onclick="searchProducts()" type="button" class="am-btn am-btn-default">
                    <span class="fa fa-search btn-icon-space" aria-hidden="true"></span>
                    QUERY
                </button>
                <button id="btn_reset" onclick="resetSearch()" type="button" class="am-btn am-btn-default">
                    <span class="fa fa-eraser btn-icon-space" aria-hidden="true"></span>
                    RESET
                </button>
            </div>

        </div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form">
                <table class="am-table am-table-striped am-table-hover table-main"
                       style="TABLE-LAYOUT:fixed;WORD-BREAK:break-all">
                    <thead>
                    <tr>
                        <th class="table-check"><input type="checkbox" onclick="checkAll(this)"/></th>
                        <th class="table-set" width="10%">No.</th>
                        <th class="table-title" width="15%">Item ID</th>
                        <th class="table-author" width="15%">OEM Code</th>
                        <th class="table-date" width="6%">Color</th>
                        <th class="table-set" width="19%">Suitable Machine</th>
                        <th class="table-set" width="10%">Page Yield</th>
                        <th class="table-set" width="15%">操作</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">

                    <tr th:each="pduct : ${datas.getContent()}">
                        <td><input type="checkbox" name="systemid" th:value="${pduct.systemid}"/></td>
                        <td><span name="pid" th:text="${pduct.pid}"></span></td>
                        <td><span name="itemId" th:text="${pduct.itemId}"></span></td>
                        <td><span name="oemCode" th:text="${pduct.oemCode}"></span></td>
                        <td><span name="color" th:text="${pduct.color}"></span></td>
                        <td><span name="suitableMachine" th:text="${pduct.suitableMachine}"></span></td>
                        <td><span name="pageYield" th:text="${pduct.pageYield}"></span></td>
                        <td>
                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="modifySingle(this)">
                                <span class="am-icon-pencil-square-o"></span> 编辑
                            </button>
                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger" onclick="deleteSingle(this)">
                                <span class="am-icon-trash-o"></span> 删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:include="page :: pager" th:remove="tag"></div>
                <hr/>
                <p>注：.....</p>
            </form>
        </div>

    </div>
</div>
<!-- content end -->
<!--</div>-->

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script th:src="@{/js/polyfill/rem.min.js}"></script>
<script th:src="@{/js/polyfill/respond.min.js}"></script>
<script th:src="@{/js/amazeui.legacy.js}"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/amazeui.min.js}"></script>
<!--<![endif]-->
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/product.js}"></script>
</body>
</html>
